.playlist-details-section {
    margin-left: 285px;
    margin-top: 60px;
    color: white;
}

.playlist-detail-header {
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.playlist-detail-cover {
    height: 230px;
    width: 230px;
    border-radius: 4px;
    object-fit: cover;
}

.playlist-detail-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 30px;
    gap: 10px;
}

.playlist-detail-name {
    font-size: 80px;
    white-space: nowrap;
}

.playlist-user-songs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playlist-song-list {
    padding: 30px;
    background-image: linear-gradient(rgb(56, 56, 56), 1%, #121212);
}

.song-list-symbols {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.playlist-play-button {
    display: flex;
    justify-content: center;
    background-color: #538aad;
    padding: 28px;
    width: 3px;
    border-radius: 100%;
    cursor: pointer;
}

.play-icon {
    font-size: 25px;
    padding-left: 2px;
}

.play-icon:active, .play-icon:hover, .play-icon:focus {
    font-size: 27px;
}

.playlist-icon {
    color: #b3b3b3;
    cursor: pointer;
}

.playlist-icon:hover,
.playlist-icon:active,
.playlist-icon:focus {
    color: white;
}

.song-list-info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 20px 10px;
    border-bottom: 1px solid #3E3D3D;
    color: #b3b3b3;
    font-size: small;
}

.hashtag-title {
    display: flex;
    flex-direction: row;
}

.hashtag {
    padding-right: 10px;
}

.duration-icon {
    padding-right: 10px;
}

.song-info {
    color: #b3b3b3;
    padding-top: 15px;
    font-size: small;
}

.playlist-song-tile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
}

.playlist-song-tile:hover {
    background-color: #3E3D3D;
}

.song-info-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 110px;
    max-width: 110px;
}

.song-id {
    min-width: 20px;
}

.song-cover-img {
    height: 40px;
    width: 40px;
    border-radius: 2px;
    object-fit: cover;
}

.song-name-artist {
    padding-left: 10px;
    cursor: pointer;
}

.song-name {
    font-weight: bold;
    color: white;
    white-space: nowrap;
}

.song-name:hover {
    text-decoration: underline;
}

.song-album-name {
    min-width: 100px;
    white-space: nowrap;
    cursor: pointer;
}

.song-album-name:hover {
    text-decoration: underline;
}
