.all-albums {
    margin-left: 285px;
    padding: 20px 40px;
    margin-top: 70px;
}

.all-albums h2 {
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
    white-space: nowrap;
    cursor: pointer;
}

.all-albums h2:hover {
    text-decoration: underline;
}

.album-artist {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.album-artist p{
    text-decoration: none;
}
