.album-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 100px;
  border-radius: 10px;
  margin-bottom: 100px;
}

.update-album-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 60px;
  gap: 10px;
  background-color: black;
  border-radius: 10px;
}

.update-album-box h1 {
  padding-bottom: 10px;
}

.album-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-form-box {
  color: white;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  width: 450px;
}

.album-form-box > p{
  padding-bottom: 5px;
}

.image-input-label {
  display: flex;
  flex-direction: row;
}

#update-image-input {
  visibility: hidden;
}

.thumbnail {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: 1px #b3b3b3 solid;
  border-radius: 5px;
  cursor: pointer;
}

.thumbnail:hover {
  border: 1px solid white;
}

.update-album-inputs {
  margin-top: 5px;
  padding: 8px 3px;
  border: 1px #b3b3b3 solid;
  background-color: rgb(19, 17, 17);
  color: white;
  border-radius: 3px;
  margin-bottom: 10px;
}

.update-album-inputs:hover {
  border: 1px solid white;
}

input[type='file']:hover{
  cursor: pointer;
}

.update-button {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-form-button:hover {
  cursor: pointer;
}


.submit_butt {
  padding: 15px 155px;
  border-radius: 25px;
  background-color: #538aad;
  color: black;
  font-weight: bolder;
  font-size: 15px;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  width: 450px;
}

.submit_butt:hover {
  font-size: 16px;
  transform: scale(1.02);
}

.loading-text {
  color: white;
  padding-top: 30px;
}
