.delete-song-modal {
    padding: 35px;
    min-width: 300px;
}

.delete-info-modal {
    display: flex;
    flex-direction: column;
}

.delete-header-text {
    font-size: 22px;
}

.delete-text {
    font-size: small;
    padding-top: 8px;
    text-wrap: wrap;
    max-width: 300px;
}

.delete-buttons-holder {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 40px;
    padding-top: 30px;
}

.cancel-modal-button {
    border: none;
    background-color: white;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}

.cancel-modal-button:hover {
    transform: scale(1.04);
}

.delete-modal-button {
    border-radius: 30px;
    background-color: #538aad;
    padding: 16px 30px;
    border: none;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}

.delete-modal-button:hover {
    transform: scale(1.04);
}

.album-choose {
    display: flex;
    gap: 20px;
}

.choose {
    cursor: pointer;
}

.choose:hover {
    transform: scale(1.04);
}
