.playlist-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 100px;
  border-radius: 10px;
}

.create-playlist-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 60px;
  gap: 10px;
  background-color: black;
  border-radius: 10px;
}

.create-playlist-box h1 {
  padding-bottom: 10px;
}

.playlist-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist-form-box {
  color: white;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  width: 450px;
}

.playlist-form-box > p{
  padding-bottom: 5px;
}

.create-playlist-inputs {
  margin-top: 5px;
  padding: 8px 3px;
  border: 1px #b3b3b3 solid;
  background-color: rgb(19, 17, 17);
  color: white;
  border-radius: 3px;
  margin-bottom: 10px;
}

.create-playlist-inputs:hover {
  border: 1px solid white;
}

input[type='file']:hover{
  cursor: pointer;
}

input[type='checkbox']:hover{
  cursor: pointer;
}

.playlist-checkbox {
  display: flex;
  gap: 10px;
}


.submit-playlist {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist-form-button {
  padding: 15px 155px;
  border-radius: 25px;
  background-color: #538aad;
  color: black;
  font-weight: bolder;
  font-size: 15px;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  width: 450px;
}

.playlist-form-button:hover {
  font-size: 16px;
  transform: scale(1.02);
}

.loading-text {
  color: white;
  padding-top: 30px;
}
