.page-container {
  margin-left: 285px;
  margin-top: 60px;
  margin-bottom: 100px;
  color: white;
}

.songs-header {
  padding: 30px;
  display: flex;
  flex-direction: row;
}

.all-songs-cover {
  height: 230px;
  width: 230px;
  border-radius: 4px;
  object-fit: cover;
}

.all-songs-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 30px;
  gap: 10px;
  padding-bottom: 30px;
}

.all-songs-title {
  font-size: 80px;
  white-space: nowrap;
}

/* .create-song-button {
    padding: 5px;
    border-radius: 30px;
    border: #548AAE 2px solid;
    background-color: #548AAE;
    margin-top: 10px;
    height: 40px;
}

.create-song-button:hover {
    cursor: pointer;
} */

.all-songs-list {
  padding: 30px;
  background-image: linear-gradient(rgb(56, 56, 56), 1%, #121212);
}

.song-list-symbols {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.song-play-button {
  display: flex;
  justify-content: center;
  background-color: #538aad;
  padding: 28px;
  width: 3px;
  border-radius: 100%;
  cursor: pointer;
}

.play-icon {
  font-size: 25px;
  /* padding-left: 2px; */
}

.play-icon:active,
.play-icon:hover,
.play-icon:focus {
  font-size: 27px;
}

.album-icon {
  color: #b3b3b3;
  cursor: pointer;
}

.album-icon:hover,
.album-icon:active,
.album-icon:focus {
  color: white;
}

.song-list-info-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 35px 20px 10px;
  border-bottom: 1px solid #3e3d3d;
  color: #b3b3b3;
  font-size: small;
}

.hashtag-title {
  display: flex;
  flex-direction: row;
  min-width: 580px;
}

.hashtag {
  padding-right: 20px;
}

.duration-icon {
  padding-right: 10px;
}

.song-info {
  color: #b3b3b3;
  padding-top: 15px;
  font-size: small;
}
