.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image: linear-gradient(rgb(56, 56, 56), 10%, black);
    padding-bottom: 200px;
    margin-top: 50px;
    padding-left: 320px;
}

.songs-header {
    padding: 20px 0 0 0;

    display: flex;
    justify-content: space-between;
}

.create-song-button {
    padding: 5px;
    border-radius: 30px;
    border: #548AAE 2px solid;
    background-color: #548AAE;
    margin-top: 10px;
    height: 40px;
}

.bring-it {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.play-button {
    display: flex;
    justify-content: center;
    border: 2px #548AAE solid;
    background-color: #548AAE;
    padding: 30px;
    width: 3px;
    border-radius: 50px;
}

.songs-header-labels {
    display: flex;
    width: 1500px;
    justify-content: space-between;
}

.song-tile-header {
    width: 1050px;
    display: flex;
    padding: 10px;
    gap: 70px;
    color: #A7A7A7;
    align-items: center;
    justify-content: space-between;
}
.song-tile-header > p {
    width: 120px;
}

hr {
    border: #8f8f8f 0.10px solid;
    margin: 10px 0;
}

#pic2 {
    display: flex;
    gap: 90px;
    align-items: center;
    width: 300px;
}

.play-button:hover {
    cursor: pointer;
}

.create-song-button:hover {
    cursor: pointer;
}
