.login-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #282828; */
    padding: 50px 70px;
}

.modal-contents h2 {
    color: black;
}

.login-modal-button {
    padding: 15px 20px;
    border-radius: 25px;
    background-color: #538aad;
    color: black;
    font-weight: bolder;
    font-size: 15px;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    width: 300px;
    height: 50px;
}

.login-modal-button:hover {
    font-size: 16px;
    transform: scale(1.02);
}

.modal-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.sign-up-link-modal {
    display: flex;
    justify-content: center;
    color: black;
}

.tunafy-signup-link-modal {
    color: black;
    font-weight: 600;
    padding-left: 5px;
}

.tunafy-signup-link-modal:hover {
    color: #538aad;
}
