#signup-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#signup-header {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    width: 470px;
}

.signup-container {
    display: flex;
    justify-content: center;
    margin-top: 160px;
}

#signup-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 470px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 470px;
}

.signup-labels {
    display: flex;
    flex-direction: column;
    color: white;
}

.signup-inputs {
    margin-top: 5px;
    padding: 8px 3px;
    border: 1px white solid;
    background-color: rgb(19, 17, 17);
    color: white;
    border-radius: 3px;
    margin-bottom: 10px;
}

.sign-up-button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#signup-submit {
    padding: 15px 155px;
    border-radius: 25px;
    background-color: #538aad;
    color: black;
    font-weight: bolder;
    font-size: 15px;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    width: 470px;
}

.log-in-link {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #b3b3b3;
    gap: 10px;
}

.tunafy-login-link {
    color: white;
    font-weight: 600;
}
