.song-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 100px;
    border-radius: 10px;
}

.create-song-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 60px;
    gap: 10px;
    background-color: black;
    border-radius: 10px;
}

.create-song-box h1 {
    padding-bottom: 10px;
  }

.form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entry-container {
    color: white;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    width: 450px;
}

.entry-container > p{
    padding-bottom: 5px;
  }

.edit-song-image-container {
    display: flex;
    flex-direction: column;
}

.edit-song-image-container > p {
    padding-bottom: 5px;
  }

.edit-song-image-div {
    display: flex;
    flex-direction: column;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
}

.song-inputs {
    margin-top: 5px;
    padding: 8px 3px;
    border: 1px #b3b3b3 solid;
    background-color: rgb(19, 17, 17);
    color: white;
    border-radius: 3px;
    margin-bottom: 10px;
}

.edit-form-x {
    align-self: flex-end;
    padding: 4px;
    margin-top: 3px;
}

.edit-form-x:hover {
    cursor: pointer;
}

.edit-song-image {
    padding: 5px;
}

.song-inputs:hover {
    border: 1px solid white;
}

input[type='file']:hover{
    cursor: pointer;
  }

.update-button {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

#submit_butt {
    padding: 15px 155px;
    border-radius: 25px;
    background-color: #538aad;
    color: black;
    font-weight: bolder;
    font-size: 15px;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    width: 450px;
}

#submit_butt:hover {
    font-size: 16px;
    transform: scale(1.02);
}

.loading-text {
    color: white;
    padding-top: 30px;
  }
