.album-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 320px;
  padding-top: 20px;
  margin-top: 60px;
}

.album-headers-container {
  display: flex;
  flex-direction: row;
}

.album-image-container img {
  height: 300px;
  width: 300px;
}

.album-headers {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 20px;
  padding-bottom: 10px;
}

.album-headers p {
  color: white;
  font-size: 20px;


}

.album-headers h1 {
  font-size: 150px;
  color: white;
}
