* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #121212;
}

.left-bar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 240px;
  padding: 24px;
  background-color: black;
}

.left-bar-logo {
  display: flex;
  flex: row;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: white;
}

.logo {
  width: 30px;
}

.left-bar-ul {
  list-style: none;
  margin-top: 20px;
}

.left-bar .nav li {
  padding: 10px 0px;
}

.left-bar .nav li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.left-bar .nav li div {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.left-bar .nav li a:hover,
.left-bar .nav li a:active,
.left-bar .nav li div:hover,
.left-bar .nav li a:focus {
  color: white;
  cursor: pointer;
}

.bar-icon {
  padding-right: 10px;
}

.top-sidebar-box {
  background-color: #121212;
  border-radius: 10px;
  padding: 15px;
}

.bottom-sidebar-box {
  background-color: #121212;
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
}

.git-logo {
  background-color: white;
  width: 25px;
  border-radius: 100%;
  position: fixed;
  bottom: 100px;
  border: 5px solid white;
}

.git-logo:hover {
  transform: scale(1.10);
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #101010;
  padding: 14px 30px;
  margin-left: 288px;
}

.back-forward-buttons button {
  color: #7a7a7a;
  cursor: pointer;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  font-size: 18px;
  border: 0px;
  background-color: #090909;
  margin-right: 10px;
}

.back-forward-buttons {
  white-space: nowrap;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.sign-up {
  color: #b3b3b3;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .5px;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 170px;
}

.sign-up:hover,
.sign-up:active,
.sign-up:focus {
  color: white;
  transform: scale(1.04);
}

.login-button {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 40px;
  white-space: nowrap;
}

.login-button:hover,
.login-button:active,
.login-button:focus {
  background-color: #f2f2f2;
  transform: scale(1.04);
}

.profile-button {
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.fa-circle-user {
  font-size: 34px;
  color: #538aad;
}

.profile-dropdown {
  position: absolute;
  top: 54px;
  right: 30px;
  background-color: #282828;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 4px;
  /* gap: 10px; */
  border-radius: 3px;
}

.profile-user-info {
  cursor: default;
  font-size: 15px;
  padding: 10px 70px 10px 20px;
}

.profile-user-info:hover {
  background-color: #3E3D3D;
}

.button-divider {
  border-top: 1px solid #3E3D3D;
  padding: 10px 70px 10px 20px;
}

.button-divider:hover {
  background-color: #3E3D3D;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #ae2896, #509bf5);
  padding: 15px 40px;
}

.preview h6 {
  color: white;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}

.preview p {
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.preview button {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  white-space: nowrap;
}

.preview button:hover {
  background-color: #f2f2f2;
  transform: scale(1.04);
}

.music-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.rhap_loop--on.rhap_play-status--paused,
.rhap_loop--on.rhap_play-status--playing{
  background-color: black;
}

.rhap_loop--off.rhap_play-status--paused,
.rhap_loop--off.rhap_play-status--playing{
  background-color: black;
}

.iconify {
  color: white;
}
